rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // chatMessages 컬렉션 누구나 Read/Write 가능
    match /chatMessages/{document} {
      allow read, write: if true;
    }

  }
}
